<html>
    <head>
        <h1>This Is A from Page</h1>
    </head>
    <body>

            <form method="post" action ='/submit'>
            <input type="number" name = 'preg' placeholder="preg" required = 'required'>
            <input type="number" name = 'plas' placeholder='plas' required = 'required'>
            <input type="number" name = 'skin' placeholder='skin' required = 'required'>
            <input type="number" name = 'test' placeholder='test' required = 'required'>
            <input type="number" name = 'mass' placeholder='mass'required = 'required'>
            <input type="number" name = 'pedi' placeholder='pedi' required = 'required'>
            <input type="number" name = 'age' placeholder='age' required = 'required'>
            <input type="number" name = 'pres' placeholder='pres' required = 'required'>
            
            <button type='submit'> Predict </button>
        </form>

    </body>
</html>